[submodule "vim/pack/packages/start/dev-icons"]
	path = vim/pack/packages/start/dev-icons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule "vim/pack/packages/start/lightline"]
	path = vim/pack/packages/start/lightline
	url = https://github.com/itchyny/lightline.vim
[submodule "vim/pack/packages/start/nerdtree"]
	path = vim/pack/packages/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/pack/packages/start/tcomment"]
	path = vim/pack/packages/start/tcomment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "vim/pack/packages/opt/color-dracula"]
	path = vim/pack/packages/opt/color-dracula
	url = https://github.com/dracula/vim.git
[submodule "vim/pack/packages/opt/color-one-dark"]
	path = vim/pack/packages/opt/color-one-dark
	url = https://github.com/joshdick/onedark.vim.git
[submodule "vim/pack/packages/start/smoothie"]
	path = vim/pack/packages/start/smoothie
	url = https://github.com/psliwka/vim-smoothie.git
[submodule "vim/pack/packages/opt/color-papercolor"]
	path = vim/pack/packages/opt/color-papercolor
	url = https://github.com/NLKNguyen/papercolor-theme.git
[submodule "vim/pack/packages/start/fzf-vim"]
	path = vim/pack/packages/start/fzf-vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "vim/pack/packages/start/polyglot"]
	path = vim/pack/packages/start/polyglot
	url = https://github.com/sheerun/vim-polyglot.git
	shallow = true
[submodule "vim/pack/packages/opt/color-gruvbox"]
	path = vim/pack/packages/opt/color-gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
